<!-- <div>
  <code><pre>{{ fooStore | async | json }}</pre></code>
  <button (click)="add()">give me a value</button>
</div> -->

<!-- <app-foo [inputAttr]="inputAttr"></app-foo>
<span>{{inputAttr | async | json}}</span> -->

<ngx-virtual-table [data]="fakeUsers">
  <ngx-virtual-row>
    <ngx-virtual-column>
      <button>btn-1</button>
      <button>btn-2</button>
      <button>btn-3</button>
    </ngx-virtual-column>
    <ngx-virtual-column>
      <button>btn-a</button>
      <button>btn-b</button>
      <button>btn-c</button>
    </ngx-virtual-column>
  </ngx-virtual-row>
</ngx-virtual-table>

<!-- <ngx-adv></ngx-adv> -->
<router-outlet></router-outlet>
